<% if logged_in? %>
  <div class="row">
    <h3>Micropost Feed</h3>
    <div class="col-md-9">
      <%= render 'shared/feed' %>
    </div>
    <aside class="col-md-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>INSTACLONE APP</h1>
    <h2>
      友達の写真や動画をチェックしよう
    </h2>
    <p>
      <%= link_to "ユーザー登録", signup_path,
          class: "btn btn-lg btn-primary" %>
    </p>
    <p>
      <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path,
          class: "btn btn-lg btn-primary" %>
    </p>
    <br>
    <p>
      アカウントをお持ちの方<br>
      ※アカウント情報をログイン画面に記載しています<br>
      <%= link_to "ログイン", login_path,
          class: "btn btn-lg btn-primary" %>
    </p>
  </div>
<% end %>