<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      メールアドレス：test@sample.com（ユーザー名：test）<br>
      パスワード：test123
    </p>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログインを保持する</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p>新しくアカウントを作成する　<%= link_to "Sign up", signup_path %></p>

  </div>
</div>