<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>
<div class="row">
  
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    
      <%= render 'shared/error_messages', object: @user %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
      
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
      
      <%= f.label :self_introduction %>
      <%= f.text_field :self_introduction, class: 'form-control' %>
    
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>
      
      <%= f.label :sex %>
      <%= f.select :sex, [['男性', 1], ['女性', 2], ['その他', 3]] %>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    
    <%= link_to "パスワードを変更する", edit_password_edit_path,
        class: "btn btn-primary" %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
    
    <%= link_to "ユーザーを削除する", user_path, method: :delete,
        class: "btn btn-primary" %>

  </div>
</div>