<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <p><%= render 'follow_form' if logged_in? %></p>
  </div>
</div>
<div class="row", style="width: 90%; margin: auto;" >
  <div class="col-md-12">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <% @microposts.each do |micropost| %>
        <div class="col-md-4">
          <ol class="microposts">
            <%= render micropost %>
          </ol>
        </div>
      <% end %>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>